name: "Инфо о PR"

on:
  pull_request:
  workflow_dispatch:
  push:

jobs:
  Rabota:
    name: "Работаем"
    runs-on: ubuntu-latest

    steps:
    - name: "Качаем репозиторий с PR"
      uses: actions/checkout@v3
      with: { fetch-depth: 0 }

      # https://docs.github.com/en/actions/learn-github-actions/expressions
      # https://docs.github.com/en/actions/learn-github-actions/contexts#github-context
      # https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#push
      # https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#pull_request
    - name: "Ищем в названиях и описаниях коммитов [clear cache]"
      if: |
        github.event_name == 'pull_request' ||
        (github.event_name == 'push' && contains(join(github.event.commits.*.message, ' '), '[clear cache]'))

      run: |
        if [[ "${{ github.event_name }}" == "push" ]]
        then # Для push проверка всех коммитов уже выполнена
          # https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#setting-an-environment-variable
          echo "CLEAR_CACHE=1" >> $GITHUB_ENV
        else # Для pull_request список коммитов нужно получать самому
          NUM_COMMITS="${{ github.event.pull_request.commits }}"

          # Сохраняем названия и описания коммитов в строку
          COMMITS=`git log --format=%B -n$NUM_COMMITS`

          if [[ "$COMMITS" == *"[clear cache]"* ]]; then
            echo "CLEAR_CACHE=1" >> $GITHUB_ENV
          fi
        fi
     
    - name: "Очищаем кэш"
      if: github.env.CLEAR_CACHE == '1'
      run:
        echo "!!!ОЧИЩАЕМ"


     
        
        

